

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=DM+Sans&display=swap');

app-header{
  background-color: #3b3a3af8;

}

h1{
  font-family: 'DM Sans', sans-serif;
}


.container {
  margin: 2rem auto 0rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: #3b3a3af8;
  font-family: 'DM Sans', sans-serif;
}

h1 {
  padding-left: 2rem;
  height: 3rem;

  font-size: 1.5 rem;
  margin: auto 0rem;
  color: #fff;
  background-color: #3b3a3a00;
}

