<div class="container-fluid">
  <div class="row flex-grow-1">
    <div class="col-12">
      <div class="wrapper">
        <button class="backButton" (click)="onBackClick()">
          <span>&larr;</span> All products
        </button>

        <div class="contentDiv">
          <div class="name">
            <h2>{{ product.name }}</h2>
          </div>
          <div class="price">
            <p>{{ product.price | currency }}</p>
          </div>
          <div class="description">
            <p>{{ product.description }}</p>
          </div>
          <div class="steps">
            <h3>What we provide:</h3>
            <ol>
              <li *ngFor="let step of product.steps">{{ step }}</li>
            </ol>
          </div>
          <div class="features">
            <ul *ngFor="let feature of product.features">
              <li>
                {{ feature }}
              </li>
            </ul>
          </div>
        </div>
        <div class="imageDiv">
          <img src="{{ product.imageUrl }}" alt="{{ product.name }}" />
        </div>
      </div>
    </div>
  </div>
</div>
